body {
  overflow-x: none;
}

.btn:focus,
.btn:active:focus,
button:focus,
button:active:focus {
  outline: none;
  box-shadow: none;
}

.no-border {
  border: 0;
}

.no-border:focus,
.no-focus:focus,
.no-focus:active:focus {
  outline: none;
  box-shadow: none;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.dropdown .dropdown-menu {
  margin-top: 0;
}

.reset {
  padding: 0;
  margin: 0;
  border: none;
  background: none !important;
  text-decoration: none;
  color: #222;
}

.vendor-btn:hover {
  color: #0d6efd !important;
}

.vendor-warning-btn:hover {
  color: #222 !important;
}

.dropdown-item:active {
  background-color: #ddd;
}

.product-form {
  width: 450px;
}

.modal-content {
  position: absolute;
  top: 100px !important;
}
@media (max-width: 768px) {
  .search-mobile {
    margin: 10px 0;
    width: 90% !important;
  }
  .dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdown-menu {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .product-form {
    width: 320px;
  }
}

@media (min-width: 1024px) {
  /* style={{ height: '50px' }} */
}
